<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos Faculdade SENAC</title>
</head>

<body>
    <th:block th:include="header"></th:block>
    <div class="container">
        <h5>
            <i class="material-icons left">event</i>Lista de Eventos
        </h5>
        <hr size=7>
        <ul class="collection">
            <div th:each = "evento : ${eventos}">
                <li class="collection-item avatar">
                    <i class="material-icons circle orange darken-3">school</i>
                    <span class="title">
                        <b>
                            <a th:href="${(#mvc.url('EC#detalharEvento').arg(0, evento.idEvento)).build()}">
                                <span th:text="${evento.titulo}"></span>
                            </a>
                        </b>
                    </span>
                    <p>
                        <div class="row">
                            <div class="input-field col s3">
                                <b>Data: </b><span th:text="${evento.data}"></span>
                            </div>
                            <div class="input-field col s3">
                                <b>Horário: </b><span th:text="${evento.horario}"></span>
                            </div>
                            <div class="input-field col s3">
                                <b>Local: </b><span th:text="${evento.local}"></span>
                            </div>
                            <div class="input-field col s3">
                                <b>Andar: </b><span th:text="${evento.andar}"></span>
                            </div>
                        </div>
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
            </div>
        </ul>
    </div>
    <th:block th:include="footer"></th:block>
</body>
<!-- Compiled and minified JavaScript -->
<script src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1min.js"></script>
</html>